body {
    font-family: 'DM Sans', sans-serif;
    background-color: #191919;
    margin: 35px;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-left: -10px;
    color: white;
}

.firstpage {
    display: flex;
    flex: row nowrap;
    color: white;
    align-items: center;
    font-size: 50px;
}

.firstpage_img {
    flex: 0 0 50%;
}

#firstimg {
    width: 100%
}

.firstpage_text {
    padding: 30px;
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
}

#level {
    font-weight: 700;
}

.firstpage_text_1 {
    padding-top: 25%;
}

.firstpage_text_2 {
    font-size: 0.8rem;
    margin-top: 50px;
}

.social_img {
    width: 4%;
}

.nav {
    color: white;
    font-size: smaller;
    text-decoration: none;
    padding: 0.6rem;
}

.nav:hover {
    color: #118DA8;
}